// it can be nice to have vuetify and other helpers bundled together for easy access
@import './colors';
// eg elevation - you can do @import 'styles/helpers' in components to extend the classes
@import '~vuetify/src/stylus/settings/_elevations';